<!-- Page Content -->
    <div class="container">

        <div class="row text-center text-lg-left">

            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="http://vsgrealestategroup.com.realproserver.com/About" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="/img/noelia_sm.png" alt="Noelia Seva-Gonzalez"><br />
		    Noelia Seva-Gonzalez
		
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="https://github.com/rtsuk" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="/img/robtsuk_sm.png" alt="Rob Tsuk"><br />
		    Rob Tsuk
                </a>
            </div>
        </div>

    </div>
<!-- /.container -->
